<%= form_with(model: transaction, data: { form_validation_target: "form" }) do |f| %>
  <% if @transaction.errors.any? %>
    <div class="alert alert-danger">
      <h3>These errors prohibited the form from being created:</h3>
      <ul>
        <% @transaction.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>           
    </div>  
  <% end %>

  <div class="form-group">
    <%= f.label :amount %>
    <%= f.number_field :amount, class: "form-control" %>      
  </div>
  
  <%= f.hidden_field :country, value: "India" %>
  <br>
  <%= f.submit "Submit", class: "btn btn-success"%>
<% end %>
