<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<% root_path %>">Royalty</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Transactions", transactions_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Loyalty Points", loyalty_points_index_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Rewards", rewards_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <div class="navbar-text">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false }, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", new_registration_path(resource_name), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>

